<!DOCTYPE html>
<html>
  <head>
    <title>Admin Dashboard Records</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <script src="/js/common.js"></script>
  </head>
  <body>
    <div class="container">
      <div>
        <h1 class="mt-5">Admin Dashboard Records</h1>
        <a href="create.html" class="btn btn-primary create-button">Create</a>
      </div>
      
      <table id="data-table" class="table mt-4">
        <thead>
          <tr>
            <th>Username</th>
            <th>Full Name</th>
            <th>Gender</th>
            <th>Profile Photo</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <!-- Display data as table rows -->
        </tbody>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/dashboard.js"></script>
  </body>
</html>
